{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="text-center shadow">
        <h3>Atliktų darbų įvedimo forma</h3>
        <form class="form-inline" action="" method=POST>
            {% csrf_token %}
            <table class="table"></table>
            <thead>
                <tr>
                <th>{{ form.date_field }}</th>
                <th>{{ form.dtk_nr }}</th>
                <th>{{ form.product_name }}</th>
                <th>{{ form.remakes }}</th>
                <th>{{ form.number_of_plates }}</th>
                <th>{{ form.number_of_new_plates }}</th>
                <th>{{ form.reasons }}</th>
                <th>{{ form.notes }}</th>
                <th>{{ form.user }}</th>
                </tr>
                <input type = "submit" value = "Išsaugoti" class = "btn btn-secondary">
            </thead>
            </table>
        </form>
    </div>
    <br/>
    <div class="text-center">
        <h1>Darbai</h1>
      <p>atliktų darbų sąrašas.</p>
    </div>
    <div>
        <table class="table text-center table-striped table-bordered table-hover shadow">
        <thead>
            <tr>
                <th>Data</th>
                <th>DTK</th>
                <th>Produktas</th>
                <th>Perdarymai</th>
                <th>Klišių sk.</th>
                <th>Keičiamų klišių sk.</th>
                <th>Priežastis</th>
                <th>Papildomi darbai</th>
            </tr>
        </thead>
        {% for a in report %}    
        <tbody>
            <tr>
                <td>{{a.date_field}}</td>
                <td>{{a.dtk_nr}}</td>
                <td>{{a.product_name}}</td>
                <td>{{a.remakes}}</td>
                <td>{{a.number_of_plates}}</td>
                <td>{{a.number_of_new_plates}}</td>
                <td>{{a.reason}}</td>
                <td>{{a.notes}}</td> 
            </tr>          
        </tbody>
        {% endfor %}
        </table>
    </div>
    
    <div class="puslapiai">
        <nav aria-label="...">
            {% if report.has_other_pages %}
                <ul class="pagination pagination-sm justify-content-end">
                    {% for i in report.paginator.page_range %}
                        {% if report.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </nav>
    </div>
</div>   
{% endblock %}